body {
    font-family: sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    color: white;
    font-size: 36px;
    margin-top: 45;
    margin-bottom: 40;
}
h2 {
    text-align: left;
    color: white;
    font-size: 36px;
    margin-top: 15;
    margin-bottom: 5;
}

main {
    color: white;
}

header {
    background-color:greenyellow;
}

footer {
    background-color: rgba(156, 0, 13, 0.76);
}
